.App {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  background: #242b2e;
}
button {
  color: #ffffff;
  padding: 5px 5px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  text-decoration: none;
  display: inline-block;
  background-color: #4dd637;
}
