<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boot to react</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    

    <!-- navbar ends -->

    <!-- jumbotron start -->
   

    <!-- jumbotron end -->

    <!-- feature section -->
    
    <!-- feature section ends -->

    <!-- get in touch section -->
   
    <!-- get in touch section ends -->

    <!-- footer section -->
    <section class="footer  bg-dark text-white">
      <p class="lead container">Contact us at Instagram</p>
      <p class="lead container">You can react via email too</p>
      <p class="lead container">NO COPYRIGHT</p>
    </section>
    <!-- footer section ends -->
  </body>
</html>
